/* Global styles */
body {
  font-family: 'Georgia', Times, serif, sans-serif;
  margin: 20px;
  padding: 0;
  background-color: #f4f4f4;
}

.header {
  background-color: #4a2500;
  color: white;
  padding: 2rem;
  border-radius: 10px;
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Stack vertically */
  gap: 1.5rem;
}

.title {
  font-size: 60px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.logo-img {
  height: 70px;
  width: auto;
  display: block;
  object-fit: contain;
  margin-top: 5px;
}

/* NAVIGATION */
.nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav ul li a {
  color: white;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
}

.nav ul li a:hover {
  text-decoration: underline;
}



.wrap {
  width: 100%;
  max-width: 700px;
  margin: 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}


.searchTerm {
  width: 100%;
  border: 3px solid #4a2500;
  border-right: none;
  padding: 16px 24px;
  height: 50px;
  border-radius: 10px 0 0 10px;
  outline: none;
  color: #333;
  font-size: 18px;
}

.searchButton {
  width: 50px;
  height: 50px;
  border: none;
  background: #4a2500;
  color: white;
  border-radius: 0 10px 10px 0;
  font-size: 20px;
  cursor: pointer;
}


.searchButton:hover {
  background: #4a2500;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.photo-grid a:hover {
  opacity: 0.8; /* Optional: Add hover effect */
}

.photo-grid div {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 0;
}

.photo-grid img {
  width: 100%;
  aspect-ratio: 1 / 1; /* Ensures images are square */
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.photo-grid p {
  margin: 10px 0 0;
  font-size: 16px;
  color: #333;
  padding: 10px;
}
