body {
  font-family: 'Bebas Neue', sans-serif;
}

.list-item-form h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 36px;
}

.list-item-form {
  max-width: 600px;
  margin-top: 50px;
  margin: 60px auto 0 auto;
  padding-top: 10px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: #4a2500;
}

.list-item-form h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group textarea {
  resize: vertical;
  height: 100px;
}

button[type='submit'] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4a2500;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Bebas Neue', sans-serif;
}

button[type='submit']:hover {
  background-color: #3a1e00;
}

.error-message {
  color: red;
  text-align: center;
  margin-bottom: 15px;
}

.success-message {
  color: green;
  text-align: center;
  margin-bottom: 15px;
}